@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3b82f6;
}
html {
  font-family: 'Courier New', Courier, monospace;
}

html.dark {
  --primary: #34d399;
}

*:focus {
  outline: none;
}

/* Text reveal animation */
.main-reveal-text,
.main-reveal-text::after,
.main-reveal-text-reverse,
.main-reveal-text-reverse::after {
  animation-delay: 0.2s;
  animation-iteration-count: 1;
  animation-duration: 0.8s;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.main-reveal-text-short,
.main-reveal-text-short::after {
  animation-delay: 0.2s;
  animation-iteration-count: 1;
  animation-duration: 0.6s;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.main-reveal-text,
.main-reveal-text-short {
  position: relative;
  animation-name: clip-text;
}
.main-reveal-text-reverse {
  position: relative;
  animation-name: clip-text-reverse;
}
/* Text reveal ::after */
.main-reveal-text::after,
.main-reveal-text-reverse::after,
.main-reveal-text-short::after {
  content: '';
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary);
  pointer-events: none;
}
.main-reveal-text::after,
.main-reveal-text-short::after {
  transform: scaleX(0);
  transform-origin: 0 50%;
  animation-name: text-revealer;
}
.main-reveal-text-reverse::after {
  transform: scaleX(0);
  transform-origin: 100% 50%;
  animation-name: text-revealer-reverse;
}

/* Keyframes for text reveal animation */
@keyframes clip-text {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes text-revealer {
  0%,
  50% {
    transform-origin: 0 50%;
  }
  60%,
  100% {
    transform-origin: 100% 50%;
  }
  60% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

@keyframes clip-text-reverse {
  from {
    -webkit-clip-path: inset(0 0 0 100%);
    clip-path: inset(0 0 0 100%);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
}

@keyframes text-revealer-reverse {
  0%,
  50% {
    transform-origin: 100% 50%;
  }
  60%,
  100% {
    transform-origin: 0 50%;
  }
  60% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
